.logo {
    font-size: 100px;
    height: 60px;
    padding-top: 40px;
    color: darkgreen;
}

.center {
    text-align: center;
}

.schnoerkel {
    font-family: 'Arizonia', cursive;
}

#content {
    background-color: #FFF;
    border-radius: 5px;
}

#content .main {
    padding: 20px;
}

#content .sidebar {
    padding: 10px;
}

#content p {
    line-height: 30px;
}

body {
    background: -moz-linear-gradient(bottom, #fcffb7, #ffd82b); /* Firefox */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffd82b), to(#fcffb7)); /* Chrome, Safari */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd82b', endColorstr='#fcffb7'); /* bis IE9 */
    background: -ms-linear-gradient(top, #ffd82b, #fcffb7); /* ab IE10 */
    margin: 0px !important;
    padding: 0px !important;
}

p{
    font-size: 15px !important;
}


html {
    min-height: 100%;
}

#gmeg_map_canvas img {
    max-width: none;
}

.highlightit img {
    border: 2px solid #FFF;
}

.highlightit:hover img {
    border: 2px solid #ffd82b;
}

.highlightit:hover {
    color: #ffd82b; /* Dummy definition to overcome IE bug */
}

.twocolumns {
    text-align: left;
    width: 49.5%;
    float: left;
    margin: 2px;
}

a {
    color: darkgreen;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: darkgreen;
    font-weight: bold;
}

.active {
    color: darkgreen !important;
    font-weight: bold;
}
